/********** Base Styles *********/

* {
  box-sizing: border-box;
  font-family: Lucida Console, Courier New, Comic;
}

div.row {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  float: left;
}

header {
  color: #FFFFFF;
  background-color: #262626;
  border: 2px solid white;
  text-align: center;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  font-size: 175%;
}

section.body {
  position: relative;
  float: left;
  border: 2px solid white;
  margin: 20px;
  background-color: #262626;
  height: 500px;
}

section.header1 {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #99cc00;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  float: right;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 125%;
}

section.header2 {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #FF0066;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  float: right;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 125%;
}

section.header3 {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #00CCFF;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  float: right;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 125%;
}

p.title1 {
  margin: 50px;
  color: #99cc00;
  word-wrap: break-word;
  text-align: center;
  text-decoration: underline;
}

p.title2 {
  margin: 50px;
  color: #FF0066;
  word-wrap: break-word;
  text-align: center;
  text-decoration: underline;
}

p.title3 {
  margin: 50px;
  color: #00CCFF;
  word-wrap: break-word;
  text-align: center;
  text-decoration: underline;
}

p.ass1 {
  margin: 30px;
  color: #99cc00;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
}

p.ass2 {
  margin: 30px;
  color: #FF0066;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
}

p.ass3 {
  margin: 30px;
  color: #00CCFF;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 30px;
  color: #FFFFFF;
  word-wrap: break-word;
}

footer {
  border: 2px solid white;
  color: #FFFFFF;
  background-color: #262626;
  text-align: center;
  font-style: italic;
  clear: left;
  margin: 20px;
  padding: 5px;
}


/********** Layout 01: Desktop view (width is 992px and above) **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Layout 02: Tablet view (width is between 768px and 991px) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


/********** Layout 03: Mobile view (width is 767px and less) **********/

/* @media (max-width: 767px;
) {}
*/